{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="{% url 'books_list' %}">Каталог</a></h1>
        </div>
        <div class="row">

            {% for book in books_list %}
            <div class="book col-md-4">
                <h2>
                    {% if not previous_date and not next_date %}
                        <a href="{% url 'book' book.pub_date|date:'Y-m-d' %}">{{ book.name }}</a>
                    {% else %}
                        {{ book.name }}
                    {% endif %}
                </h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:'d M Y' }}</p>
            </div>
            {% endfor %}
        </div>
        {%if previous_date%}
            <a href="{% url 'book' previous_date %}">{{previous_date}}</a>
        {%endif%}
        {%if next_date%}
            <a href="{% url 'book' next_date %}">{{next_date}}</a>
        {%endif%}
    </div>
{% endblock %}